/* PATCH START: Scratch answer */
.mcOptionExcluded, .mcOptionExcluded > div:first-child, .mcOptionExcluded > span:first-child {
    text-decoration: line-through;
}

.mcExclusionToggle {
    margin-left: 20px;
}

.mcExclusionToggleInverted {
    background-color: #ffffff !important;
    border: solid #708bae 1px !important;
    color: #708bae !important;
}
/* PATCH END: Scratch answer */